{% extends "base.html" %}

{% block title_addon %} - About{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>About Managify</h1>
</div>
<div class="page-body">
  <p>At Managify, we assist you in managing your finances.</p>
  <p>Our long-term goal is to help you reduce your consumption-production ratio so that you 
     spend less than you earn
  </p>
  <h2>How do we intend to do this?</h2>
  <ul>
      <li>You keep records of your daily finances.</li>
      <li>We produce beautiful dashboards of your finances after a period of time.</li>
  </ul>
</div>
{%  endblock %}